<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect phase1-5 to phase4-7" stopProcessing="true">
          <match url="^phase1-5\.html$" ignoreCase="true" />
          <action type="Redirect" url="/phase4-7.html" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
